@model Entity.users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <style type=text/css>
        body {
            font-size: 12px;
            color: #ffffff;
            font-family: 宋体;
        }
        td {
            font-size: 12px;
            color: #ffffff;
            font-family: 宋体;
        }
    </style>
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <script src="~/javascript/jquery.messager.js"></script>
    <script src="~/javascript/jquery.validate.unobtrusive.js"></script>
    <script src="~/javascript/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/javascript/login.js"></script>


    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Ajax.BeginForm("Login1", new AjaxOptions() {HttpMethod="Post", OnSuccess = "Ts" }))
    {
        <div>
            <table cellspacing=0 cellpadding=0 width=900 align=center border=0>
                <tbody>
                    <tr>
                        <td style="height: 105px">
                            <img src="~/images/login_11.gif" border=0>
                        </td>
                    </tr>
                    <tr>
                        <td background=~/images/login_22.jpg height=300>
                            <table height=300 cellpadding=0 width=900 border=0>
                                <tbody>
                                    <tr>
                                        <td colspan=2 height=35></td>
                                    </tr>
                                    <tr>
                                        <td width=360></td>
                                        <td>
                                            <table cellspacing=0 cellpadding=2 border=0>
                                                <tbody>
                                                    <tr>
                                                        <td style="height: 28px" width=80>
                                                            登 录 名：
                                                        </td>
                                                        <td style="height: 28px" width=150>
                                                            <input id="userName" name="u_name" style="width: 130px" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="height: 28px">
                                                            登录密码：
                                                        </td>
                                                        <td style="height: 28px">
                                                            <input id="userPassword" name="u_password" style="width: 130px" type="password" />
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="height: 18px"></td>
                                                        <td style="height: 18px"></td>
                                                        <td style="height: 18px"></td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <input type="submit" value="登录" style="cursor: pointer;" />
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="~/images/login_33.jpg" border=0>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
    
    
</body>
</html>
