
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>check_success</title>
    <link rel="stylesheet" href="../../css/table.css" type="text/css">
    <script type="text/javascript" src="../../javascript/comm/comm.js"></script>
</head>
<body>
    <form method="post" action="">
        <table width="100%">
            <tr>

                <td colspan="2">
                    <font color="black">您正在做的业务是：人力资源--薪酬发放管理--薪酬发放复核 </font>
                </td>
            </tr>
            <tr>

                <td width="49%"> 复核成功，谢谢！</td>
                <td width="51%" align="right">
                    <input type="button"
                           class="BUTTON_STYLE1"
                           onclick="javascript: window.location = '/salaryGrant/check_list';"
                           value="返回" />
                </td>


            </tr>
        </table>

    </form>
</body>
</html>
