@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>register_success</title>
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <link rel="stylesheet" href="../../css/table.css" type="text/css">
    <script type="text/javascript" src="../../javascript/comm/comm.js"></script>
</head>
<body>
    <form method="post" action="">
        <table width="100%">
            <tr>
                <td colspan="2">
                    <font color="black">您正在做的业务是：人力资源--薪酬发放管理--薪酬发放登记 </font>
                </td>
            </tr>
            <tr>
                <td width="49%"> 提交成功，需要复核！</td>
                <td width="51%" align="right">
                    <input type="button"
                           class="BUTTON_STYLE1"
                           onclick="fanhui()"
                           value="返回" />
                </td>
            </tr>
        </table>
    </form>
    <script>
        function fanhui() {
            location.href = '/salaryGrant/register_locate';
        }

    </script>
</body>
</html>
