
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>position_register</title>
    <link href="~/css/cwcalendar.css" rel="stylesheet" />
    <link href="~/css/table.css" rel="stylesheet" />
    <script src="~/javascript/comm/comm.js"></script>
    <script src="~/javascript/comm/list.js"></script>
    <script src="~/javascript/calendar-ch.js"></script>
    <script src="~/javascript/jquery-1.7.2.js"></script>
    <script src="~/javascript/locate.js"></script>
    <script src="~/javascript/comm/time.js"></script>
    <script type="text/javascript">
 			window.onload=check;
		function tick() {
			var now = new Date();
			var hours, minutes, seconds, noon;
			var intHours, intMinutes, intSeconds;
			intHours = now.getHours();
			intMinutes = now.getMinutes();
			intSeconds = now.getSeconds();
			if (intHours < 24) {
				hours = intHours+":";
				noon = "A.M.";
			} else {
				intHours = intHours - 24;
				hours = intHours + ":";
				noon = "P.M.";
			}
			if (intMinutes < 10) {
				minutes = "0"+intMinutes+":";
			} else {
				minutes = intMinutes+":";
			}
			if (intSeconds < 10) {
				seconds = "0"+intSeconds+" ";
			} else {
				seconds = intSeconds+" ";
			}
			timeString = hours+minutes+seconds;
			var now = new Date();
		  	document.getElementById("nowTime").value=now.getFullYear()+"-"+(now.getMonth()+1)+"-"+now.getDate()+" "+timeString;
			window.setTimeout("tick();", 1000);
		}

		//load事件
		function check(){
			//获得系统当前时间的方法
		  	tick();
		}
    </script>
    <script type="text/javascript">
        $(function () {
            $.post("/position/position_registerYi", "", function (data) {
                var datas = eval("(" + data + ")");
                var $first = $("#firstKindId");
                for (var i = 0; i < datas.length; i++) {
                    var $op = ("<option value='" + datas[i].first_kind_id + "'>" + datas[i].first_kind_name + "</option>");
                    $first.append($op);
                }
            })
            $("#firstKindId").bind("change", function () {
                var first_kind_id = $("#firstKindId").val();
                $("#secondKindId option:gt(0)").remove();
                $.post("/position/position_registerEr", {"first_kind_id":first_kind_id}, function (data) {
                    var datas = eval("(" + data + ")");
                    var $second = $("#secondKindId");
                    for (var i = 0; i < datas.length; i++) {
                        var $op = ("<option value='" + datas[i].second_kind_id + "'>" + datas[i].first_kind_name + "</option>");
                        $second.append($op);
                    }
                });
            });
            $("#secondKindId").bind("change", function () {
                var second_kind_id = $("#secondKindId").val();
                $("#thirdKindId option:gt(0)").remove();
                $.post("/position/position_registerSan", { "second_kind_id": second_kind_id }, function (data) {
                    var datas = eval("(" + data + ")");
                    var $third = $("#thirdKindId");
                    for (var i = 0; i < datas.length; i++) {
                        var $op = ("<option value='" + datas[i].third_kind_id + "'>" + datas[i].second_kind_name + "</option>");
                        $third.append($op);
                    }
                });
            })
            $.post("/position/position_registerZW", "", function (data) {
                var datas = eval("(" + data + ")");
                var $majorkind = $("#majorKindId");
                for (var i = 0; i < datas.length; i++) {
                    var $op = ("<option value='" + datas[i].major_kind_id + "'>" + datas[i].major_kind_name + "</option>");
                    $majorkind.append($op);
                }
            })
            $("#majorKindId").bind("change", function () {
                var major_kind_id = $("#majorKindId").val();
                $("#majorId option:gt(0)").remove();
                $.post("/position/position_registerZWFL", { "major_kind_id": major_kind_id }, function (data) {
                    var datas = eval("(" + data + ")");
                    var $major = $("#majorId");
                    for (var i = 0; i < datas.length; i++) {
                        var $op = ("<option value='" + datas[i].major_id + "'>" + datas[i].major_name + "</option>");
                        $major.append($op);
                    }
                });
            });
        })
    </script>
    <script type="text/javascript">
        function mysubmit() {
 	   	if (document.getElementById("firstKindId").value == "") {
 	   	   
 	       alert("请选择一级机构");
 	       return false;
 	   	}
 	   	if (document.getElementById("secondKindId").value == "") {

 	   	    alert("请选择二级机构");
 	   	    return false;
 	   	}
 	   	if (document.getElementById("thirdKindId").value == "") {

 	   	    alert("请选择三级机构");
 	   	    return false;
 	   	}
 	  if(document.getElementById("engageType").value==""){
 	       alert("请选择招聘类型");
 	       return false;
 	       }
 	  if(document.getElementById("majorKindId").value==""){
 	       alert("请选择职位分类");
 	       return false;
 	       }
 	   if(document.getElementById("majorId").value==""){
 	       alert("请选择职位名称");
 	       return false;
 	       }
 	  if(document.getElementById("humanAmount").value==""){
 	   alert("请填写招聘人数");
 	   return false;
 	  }
 	  if(document.getElementById("date_start").value==""){
 	   alert("请选择截止日期");
 	   return false;
 	  }
		  	document.humanfileForm.submit();
	}
    </script>
</head>
<body>
    <form name="humanfileForm" method="post" action="/position/position_registerTJ">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--招聘管理--职位发布管理--职位发布登记 </font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="button" value="提交" class="BUTTON_STYLE1"
                           onclick="return mysubmit();">
                    <input type="reset" value="清除" class="BUTTON_STYLE1">
                </td>
            </tr>
        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr>
                <td class="TD_STYLE1" width="11%">
                    I级机构
                </td>
                <td width="14%" class="TD_STYLE2">
                    <select name="first_kind_id" id="firstKindId" class="SELECT_STYLE1">
                        <option value="">--请选择--</option>
                    </select>
                </td>
                <td width="11%" class="TD_STYLE1">
                    II级机构
                </td>
                <td width="14%" class="TD_STYLE2">
                    <select name="second_kind_id" id="secondKindId" class="SELECT_STYLE1">
                        <option value="">--请选择--</option>
                    </select>
                </td>
                <td width="11%" class="TD_STYLE1">
                    III级机构
                </td>
                <td class="TD_STYLE2">
                    <select name="third_kind_id" id="thirdKindId" class="SELECT_STYLE1">
                        <option value="">--请选择--</option>
                    </select>
                </td>
                <td width="11%" class="TD_STYLE1">
                    招聘类型
                </td>
                <td class="TD_STYLE2" colspan="2">
                    <select name="engage_type" id="engageType" class="SELECT_STYLE1">
                        <option value="">--请选择--</option>

                        <option value="校园招聘">校园招聘</option>

                        <option value="社会招聘">社会招聘</option>

                    </select>

                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    职位分类
                </td>
                <td class="TD_STYLE2">
                    <select name="major_kind_id" id="majorKindId" class="SELECT_STYLE1">
                        <option value="">--请选择--</option>
                    </select>
                </td>
                <td class="TD_STYLE1">
                    职位名称
                </td>
                <td class="TD_STYLE2">
                    <select name="major_id" id="majorId" class="SELECT_STYLE1">
                        <option value="">--请选择--</option>
                    </select>
                </td>
                <td class="TD_STYLE1">
                    招聘人数
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="human_amount" id="humanAmount" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    截止日期
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="deadline" readonly id="date_start"
                           class="INPUT_STYLE2" onclick="aa('deadline');">
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    登记人
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="register" value="admin" class="INPUT_STYLE2">
                </td>
                <td class="TD_STYLE1">
                    登记时间
                </td>
                <td class="TD_STYLE2">
                    <input type="text" name="register"
                           id="nowTime" readonly="readonly"
                           class="INPUT_STYLE2">
                </td>

                <td>&nbsp; </td>
                <td>&nbsp; </td>
                <td>&nbsp; </td>
                <td>&nbsp; </td>

            </tr>
            <tr>
                <td class="TD_STYLE1">
                    职位描述
                </td>
                <td class="TD_STYLE2" colspan="8">
                    <textarea name="major_describe" rows="4" cols="80" class="TEXTAREA_STYLE1"></textarea>
                </td>

            </tr>
            <tr>
                <td class="TD_STYLE1">
                    招聘要求
                </td>
                <td class="TD_STYLE2" colspan="8">
                    <textarea name="engage_required" rows="4" cols="80" class="TEXTAREA_STYLE1"></textarea>
                </td>

            </tr>
        </table>
    </form>
</body>
</html>
