<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="yidao">
        <register type="IDAL.Iconfig_file_first_kindDao,IDAL" mapTo="DAL.config_file_first_kindDao,DAL" name="config_file_first_kindDao"></register>
        <register type="IDAL.Iconfig_file_second_kindDao,IDAL" mapTo="DAL.config_file_second_kindDao,DAL" name="config_file_second_kindDao"></register>
        <register type="IDAL.Iconfig_file_third_kindDao,IDAL" mapTo="DAL.config_file_third_kindDao,DAL" name="config_file_third_kindDao"></register>
        
      </container>
      <container name="yibll">
        <register type="IBLL.Iconfig_file_first_kindBLL,IBLL" mapTo="BLL.config_file_first_kindBLL,BLL" name="config_file_first_kindBLL"></register>
        <register type="IBLL.Iconfig_file_second_kindBLL,IBLL" mapTo="BLL.config_file_second_kindBLL,BLL" name="config_file_second_kindBLL"></register>
        <register type="IBLL.Iconfig_file_third_kindBLL,IBLL" mapTo="BLL.config_file_third_kindBLL,BLL" name="config_file_third_kindBLL"></register>
      </container>
    </containers>
  </unity>
</configuration>
