<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
    <containers>
      <container name="yidao">
        <register type="IDAL.Isalary_standard_detailsDal,IDAL" mapTo="DAL.salary_standard_detailsDal,DAL" name="ssddal"></register>
        <register type="IDAL.ISalaryDal,IDAL" mapTo="DAL.SalaryDal,DAL" name="sarydal"></register>
        <register type="IDAL.ISalary_strandardDal,IDAL" mapTo="DAL.Salary_strandardDal,DAL" name="ssarydal"></register>
        
        <register type="IDAL.Iconfig_file_first_kindDao,IDAL" mapTo="DAL.config_file_first_kindDao,DAL" name="config_file_first_kindDao"></register>
        <register type="IDAL.Iconfig_file_second_kindDao,IDAL" mapTo="DAL.config_file_second_kindDao,DAL" name="config_file_second_kindDao"></register>
        <register type="IDAL.Iconfig_file_third_kindDao,IDAL" mapTo="DAL.config_file_third_kindDao,DAL" name="config_file_third_kindDao"></register>
        
        <register type="IDAL.Iconfig_public_charDao,IDAL" mapTo="DAL.config_public_charDao,DAL" name="config_public_charDao"></register>
        <register type="IDAL.Iconfig_major_kindDao,IDAL" mapTo="DAL.config_major_kindDao,DAL" name="config_major_kindDao"></register>
        <register type="IDAL.Iconfig_majorDao,IDAL" mapTo="DAL.config_majorDao,DAL" name="config_majorDao"></register>
        
        <register type="IDAL.Ihuman_fileDal,IDAL" mapTo="DAL.human_fileDal,DAL" name="humandal"></register>
        <register type="IDAL.Isalary_grantDal,IDAL" mapTo="DAL.salary_grantDal,DAL" name="sgrantdal"></register>
        <register type="IDAL.Isalary_grant_detailsDal,IDAL" mapTo="DAL.salary_grant_detailsDal,DAL" name="sgrantdetaildal"></register>
        

        <register type="IDAL.IusersDal,IDAL" mapTo="DAL.usersDal,DAL" name="userdal"></register>
        
        <register type="IDAL.Iengage_major_releaseDao,IDAL" mapTo="DAL.engage_major_releaseDao,DAL" name="engage_major_releaseDao"></register>
        <register type="IDAL.Iengage_resumeDao,IDAL" mapTo="DAL.engage_resumeDao,DAL" name="engage_resumeDao"></register>
        <register type="IDAL.Iengage_interviewDao,IDAL" mapTo="DAL.engage_interviewDao,DAL" name="engage_interviewDao"></register>


        <!--<register type="IDAO.bookIDAO,IDAO" mapTo="DAO.BookDAO,DAO" name="BookDAO"></register>-->
        <register type="IDAL.UserIDAO,IDAL" mapTo="DAL.UserDao,DAL" name="UserDao"></register>
        <register type="IDAL.RoleIDAO,IDAL" mapTo="DAL.RoleDao,DAL" name="RoleDao"></register>
        <register type="IDAL.transferIDAO,IDAL" mapTo="DAL.transferDao,DAL" name="transferDao"></register>
        <register type="IDAL.major_changeIDAO,IDAL" mapTo="DAL.major_changeDao,DAL" name="major_changeDao"></register>

       

      </container>
      <container name="yibll">
        
        <register type="IBLL.Isalary_standard_detailsBll,IBLL" mapTo="BLL.salary_standard_detailsBll,BLL" name="ssdbll"></register>
        <register type="IBLL.ISalaryBll,IBLL" mapTo="BLL.SalaryBll,BLL" name="sarybll"></register>
        <register type="IBLL.ISalary_strandardBll,IBLL" mapTo="BLL.Salary_strandardBll,BLL" name="ssarybll"></register>
        
        <register type="IBLL.Iconfig_file_first_kindBLL,IBLL" mapTo="BLL.config_file_first_kindBLL,BLL" name="config_file_first_kindBLL"></register>
        <register type="IBLL.Iconfig_file_second_kindBLL,IBLL" mapTo="BLL.config_file_second_kindBLL,BLL" name="config_file_second_kindBLL"></register>
        <register type="IBLL.Iconfig_file_third_kindBLL,IBLL" mapTo="BLL.config_file_third_kindBLL,BLL" name="config_file_third_kindBLL"></register>

        <register type="IBLL.Ihuman_fileBll,IBLL" mapTo="BLL.human_fileBll,BLL" name="humanbll"></register>
        <register type="IBLL.Isalary_grantBll,IBLL" mapTo="BLL.salary_grantBll,BLL" name="sgrantbll"></register>
        <register type="IBLL.Isalary_grant_detailsBll,IBLL" mapTo="BLL.salary_grant_detailsBll,BLL" name="sgrantdetailbll"></register>
        
        <register type="IBLL.Iconfig_public_charBLL,IBLL" mapTo="BLL.config_public_charBLL,BLL" name="config_public_charBLL"></register>
        <register type="IBLL.Iconfig_major_kindBLL,IBLL" mapTo="BLL.config_major_kindBLL,BLL" name="config_major_kindBLL"></register>
        <register type="IBLL.Iconfig_majorBLL,IBLL" mapTo="BLL.config_majorBLL,BLL" name="config_majorBLL"></register>

        <register type="IBLL.IusersBll,IBLL" mapTo="BLL.usersBll,BLL" name="userbll"></register>
        
        
        <register type="IBLL.UserIBLL,IBLL" mapTo="BLL.UserBll,BLL" name="UserBll"></register>
        <register type="IBLL.RoleIBLL,IBLL" mapTo="BLL.RoleBll,BLL" name="RoleBll"></register>
        <register type="IBLL.transferIBLL,IBLL" mapTo="BLL.transferBll,BLL" name="transferBll"></register>
        <register type="IBLL.Iengage_major_releaseBLL,IBLL" mapTo="BLL.engage_major_releaseBLL,BLL" name="engage_major_releaseBLL"></register>
        <register type="IBLL.Iengage_resumeBLL,IBLL" mapTo="BLL.engage_resumeBLL,BLL" name="engage_resumeBLL"></register>
        <register type="IBLL.Iengage_interviewBLL,IBLL" mapTo="BLL.engage_interviewBLL,BLL" name="engage_interviewBLL"></register>
        <register type="IBLL.major_changeIBLL,IBLL" mapTo="BLL.major_changeBll,BLL" name="major_changeBll"></register>
        <register type="IBLL.Ihuman_fileBll,IBLL" mapTo="BLL.human_fileBll,BLL" name="human_filebll"></register>
        
      </container>
    </containers>
  </unity>
</configuration>
