
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>change_locate</title>
    <link rel="stylesheet"
          href="../../css/table.css" type="text/css" />
    <link rel="stylesheet"
          href="../../css/cwcalendar.css" type="text/css">
    <script type="text/javascript"
            src="../../javascript/comm/comm.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/comm/list.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/calendar-ch.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/jquery-1.7.2.js">
    </script>
    <script type="text/javascript"
            src="../../javascript/locate.js">
    </script>
    <script src="~/javascript/comm/time.js"></script>
</head>
<body>
    <form method="get" action="/humanResources/change_list">
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案查询</font>
                </td>
            </tr>
            <tr>
                <td align="right">
                    <input type="submit" value="查询" class="BUTTON_STYLE1" />
                    <input type="button" value="搜索" class="BUTTON_STYLE1"
                           onclick="location.href='query_keywords.html'">
                    <input type="hidden" name="result" value="toQueryList" />
                </td>
            </tr>
        </table>
        @{ List<config_file_first_kind> first = ViewData["first"] as List<config_file_first_kind>;}
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1">
            <tr class="TR_STYLE1">
                <td width="16%" class="TD_STYLE1">
                    请选择员工所在I级机构
                </td>
                <td width="84%" class="TD_STYLE2">
                    <select name="firstKindId" size="5" id="firstKind" class="SELECT_STYLE2" onchange="firstchange()">
                        <option value="" selected="selected">全部</option>
                        @foreach (config_file_first_kind item in first)
                        {
                            <option value="@item.first_kind_id">@item.first_kind_name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    请选择员工所在II级机构
                </td>
                <td width="84%" class="TD_STYLE2">
                    <select name="secondKindId" size="5" id="secondKind" class="SELECT_STYLE2" onclick="threechange()">
                        <option value="" selected="selected">全部</option>
                    </select>
                </td>
            </tr>
            <tr class="TR_STYLE1">
                <td width="16%" class="TD_STYLE1">
                    请选择员工所在III级机构
                </td>
                <td width="84%" class="TD_STYLE2">
                    <select name="thirdKindId" class="SELECT_STYLE2" size="5" id="thirdKind">
                        <option value="" selected="selected">全部</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    请选择职位分类
                </td>
                <td width="84%" class="TD_STYLE2">
                    <select name="humanMajorKindId" size="5" id="majorKind" class="SELECT_STYLE2" onchange="majork()">
                        <option value="" selected="selected">全部</option>
                        @foreach (config_major_kind item in ViewData["major_kind"] as List<config_major_kind>)
                        {
                            <option value="@item.major_kind_id">@item.major_kind_name</option>
                        }
                    </select>
                </td>
            </tr>
            <tr class="TR_STYLE1">
                <td width="16%" class="TD_STYLE1">
                    请选择职位名称
                </td>
                <td width="84%" class="TD_STYLE2">
                    <select name="humanMajorId" size="5" class="SELECT_STYLE2" id="majorName">
                        <option value="" selected="selected">全部</option>

                    </select>
                </td>
            </tr>
            <tr>
                <td class="TD_STYLE1">
                    请输入建档时间
                </td>
                <td width="84%" class="TD_STYLE2">
                    <input type="text" name="startDate" onclick="aa('startDate')" readonly style="width: 14%" class="INPUT_STYLE2" id="date_start">
                    至
                    <input type="text" name="endDate" onclick="aa('endDate')" readonly="readonly" style="width: 14%" class="INPUT_STYLE2" id="date_end">
                </td>
            </tr>
        </table>
    </form>
    <script>
        //职位分类让职位显示
        function majork() {
            $.post("/humanResources/human_register", { "jigou": "majork", "id": $("#majorKind").val() }, function (data) {
                $("#majorName option:gt(0)").remove();
                for (var i in data) {
                    var $option = $('<option value="' + data[i]["mak_id"] + '">' + data[i]["major_name"] + '</option>');
                    $("#majorName").append($option);
                }
                $("#majorName").val("");
            }, 'json');
        }
        //二级选择让三级显示
        function threechange() {
            $.post("/humanResources/human_register", { "jigou": "2", "id": $("#secondKind").val() }, function (data) {
                $("#thirdKind option:gt(0)").remove();
                for (var i in data) {
                    var $option = $('<option value="' + data[i]["third_kind_id"] + '">' + data[i]["third_kind_name"] + '</option>');
                    $("#thirdKind").append($option);
                }
                $("#thirdKind").val("");
            }, 'json');
        }
        //一级选择让二级选择
        function firstchange() {
            $.post("/humanResources/human_register", { "jigou": "1", "id": $("#firstKind").val() }, function (data) {
                $("#secondKind option:gt(0)").remove();
                for (var i in data) {
                    var $option = $('<option value="' + data[i]["second_kind_id"] + '">' + data[i]["second_kind_name"] + '</option>');
                    $("#secondKind").append($option);
                }
                $("#secondKind").val("");
            }, 'json');
        }
        $(function () {


        });
    </script>
</body>
</html>
