
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>success</title>
    <link rel="stylesheet"
          href="../../css/table.css" type="text/css">
</head>
<body>
    <br />
    操作成功！
</body>
</html>
