
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>salarystandard_register_success</title>
    <link rel="stylesheet" href="~/css/table.css" type="text/css">
    <script type="text/javascript" src="~/javascript/comm/comm.js"></script>
</head>
<body>
    <form method="post" action="">
        <table width="100%">
            <tr>
                <td colspan="2">
                    <font color="black">您正在做的业务是：人力资源--薪酬标准管理--薪酬标准登记--薪酬标准添加</font>
                </td>
            </tr>

            <td width="49%">添加成功！</td>
            <td width="51%" align="right">
                <input type="button"
                       class="BUTTON_STYLE1"
                       onclick="javascript: window.location = '/salaryCriterion/salarystandard_register';"
                       value="返回" />
            </td>


        </table>

    </form>
</body>
</html>
